@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

body {
  font-family: "Sora", sans-serif;
}

.item-button button {
  margin-top: 20px;
  width: 150px;
  background-color: black;
  color: bisque;
  align-items: center;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.spinner-border {
  height: 100px;
  width: 100px;
}

.category {
  border: 2px solid gray;
  margin-right: 25px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.category img {
  margin-left: 10px;
}

.category-active {
  border: 2px solid green;
  background-color: rgba(128, 128, 128, 0.501);
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.register input {
  width: 400px !important;
}

.register-form {
  padding: 20px;
  background-color: rgba(217, 226, 255, 0.94);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.register-form h1,
.register-form h3 {
  text-align: center;
}
